provider: {{ provider }}
window begin: {{ window_begin | to_isotime }}
window end: {{ window_end | to_isotime }}
{% if binning_stride is defined%}
binning:
  stride: {{ binning_stride }}
  min number of obs: {{ binning_min_number_of_obs }}
{% endif %}
bounds:
  min: {{ bounds_min }}
  max: {{ bounds_max }}
output file: {{ output_file }}
{% if ocean_basin is defined %}
ocean basin: {{ ocean_basin }}
{% endif %}
input files: {{ input_files }}
