# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore the following directories anywhere in the tree
bin/
build*/
install*/
__pycache__*/

# Ignore the following bundle repositories
/ecbuild
/ioda
/ioda-data
/iodaconv
/jedicmake
/oops
/obsforge-utils
/sorc/ioda-data
/sorc/obsforge
/sorc/obsforge-utils
!/bundle/CMakeLists.txt
/bundle/*

# rocoto
*.db

# Ignore pytest working directory
scripts/tests/tests_output

# Ignore Python virtual environments
*_test_env/
obsforge_test_env/
test_env/
