<?xml version="1.0"?>
<!DOCTYPE workflow
[
	<!--
	PROGRAM
		Main workflow manager for ObsForge

	-->
	<!ENTITY PSLOT "{{ PSLOT }}">
	<!ENTITY ROTDIR "{{ COMROOT }}/{{ PSLOT }}">
	<!ENTITY JOBS_DIR "{{ HOMEobsforge }}/jobs/rocoto">
	<!ENTITY MAXTRIES "2">
]>

<workflow realtime="F" scheduler="{{ SCHEDULER }}" cyclethrottle="1" taskthrottle="25">

	<log verbosity="10"><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H.log</cyclestr></log>

	<!-- Define the cycles -->
	<cycledef group="gdas">{{ SDATE }} {{ EDATE }} 06:00:00</cycledef>
	<cycledef group="gfs">{{ SDATE }} {{ EDATE }} 06:00:00</cycledef>


<!--
	============================================
	Task: gdas_gsi_to_ioda
	============================================
-->
<task name="gdas_gsi_to_ioda" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/gsitoioda.sh</command>

	<jobname><cyclestr>obsforge_gdas_gsi_to_ioda_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_GSI_TO_IODA }}</walltime>
	<nodes>{{ TASK_GEOM_GSI_TO_IODA }}</nodes>
	<memory>{{ MEMORY_GSI_TO_IODA }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gdas_gsi_to_ioda.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
    <envar><name>OBSPROC_COMROOT</name><value>/lfs/h1/ops/prod/com/obsproc/v1.2/</value></envar>
	<envar><name>COMROOT_PROD</name><value>/lfs/h1/ops/prod/com</value></envar>

    <dependency>
		<datadep><cyclestr>/lfs/h1/ops/prod/com/gfs/v16.3/gdas.@Y@m@d/@H/atmos/gdas.t@Hz.cnvstat</cyclestr></datadep>
	</dependency>

</task>

<!--
	============================================
	Task: gdas_atmos_bufr_dump
	============================================
-->
<task name="gdas_atmos_bufr_dump" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/atmosbufrdump.sh</command>

	<jobname><cyclestr>obsforge_gdas_atmos_bufr_dump_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_ATMOS_BUFR_DUMP }}</walltime>
	<nodes>{{ TASK_GEOM_ATMOS_BUFR_DUMP }}</nodes>
	<memory>{{ MEMORY_ATMOS_BUFR_DUMP }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gdas_atmos_bufr_dump.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
    <envar><name>OBSPROC_COMROOT</name><value>/lfs/h1/ops/prod/com/obsproc/v1.2</value></envar>

    <dependency>
		<datadep><cyclestr>/lfs/h1/ops/prod/com/obsproc/v1.2/gdas.@Y@m@d/@H/atmos/gdas.t@Hz.updated.status.tm00.bufr_d</cyclestr></datadep>
	</dependency>

</task>

<!--
	============================================
	Task: gdas_stage_output
	============================================
-->
<task name="gdas_stage_output" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/stageout.sh</command>

	<jobname><cyclestr>obsforge_gdas_stage_output_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_STAGE_OUTPUT }}</walltime>
	<nodes>{{ TASK_GEOM_STAGE_OUTPUT }}</nodes>
	<memory>{{ MEMORY_STAGE_OUTPUT }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gdas_stage_output.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>COMROOT_PROD</name><value>/lfs/h1/ops/prod/com</value></envar>
    <envar><name>OBSPROC_COMROOT</name><value>/lfs/h1/ops/prod/com/obsproc/v1.2</value></envar>

    <dependency>
	    <and>
		    <taskdep>gdas_gsi_to_ioda</taskdep>
		    <taskdep>gdas_atmos_bufr_dump</taskdep>
	    </and>
	</dependency>

</task>

</workflow>
