<?xml version="1.0"?>
<!DOCTYPE workflow
[
	<!--
	PROGRAM
		Main workflow manager for ObsForge

	-->
	<!ENTITY PSLOT "{{ PSLOT }}">
	<!ENTITY ROTDIR "{{ COMROOT }}/{{ PSLOT }}">
	<!ENTITY JOBS_DIR "{{ HOMEobsforge }}/jobs/rocoto">
	<!ENTITY MAXTRIES "2">
]>

<workflow realtime="F" scheduler="{{ SCHEDULER }}" cyclethrottle="1" taskthrottle="25">

	<log verbosity="10"><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H.log</cyclestr></log>

	<!-- Define the cycles -->
	<cycledef group="gdas">{{ SDATE }} {{ EDATE }} 06:00:00</cycledef>
	<cycledef group="gfs">{{ SDATE }} {{ EDATE }} 06:00:00</cycledef>

<!--
	============================================
	Task: gfs_aod_dump
	============================================
-->
<task name="gfs_aod_dump" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/aoddump.sh</command>

	<jobname><cyclestr>obsforge_gfs_aod_dump_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_AOD_DUMP }}</walltime>
	<nodes>{{ TASK_GEOM_AOD_DUMP }}</nodes>
	<memory>{{ MEMORY_AOD_DUMP }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gfs_aod_dump_prep.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<!--<dependency>
		<datadep><cyclestr>/scratch2/NCEPDEV/stmp1/Cory.R.Martin/obsforge/gfs.@Y@m@d/@H/atmos/gfs.t@Hz.updated.status.tm00.bufr_d</cyclestr></datadep>
	</dependency>
	-->

</task>

<!--
	============================================
	Task: gdas_aod_dump
	============================================
-->
<task name="gdas_aod_dump" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/aoddump.sh</command>

	<jobname><cyclestr>obsforge_gdas_aod_dump_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_AOD_DUMP }}</walltime>
	<nodes>{{ TASK_GEOM_AOD_DUMP }}</nodes>
	<memory>{{ MEMORY_AOD_DUMP }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gdas_aod_dump_prep.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<!--<dependency>
		<datadep><cyclestr>/scratch2/NCEPDEV/stmp1/Cory.R.Martin/obsforge/gdas.@Y@m@d/@H/atmos/gdas.t@Hz.updated.status.tm00.bufr_d</cyclestr></datadep>
	</dependency>
	-->

</task>

<!--
	============================================
	Task: gfs_marine_dump
	============================================
-->
<task name="gfs_marine_dump" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/jobs/rocoto/marinedump.sh</command>

	<jobname><cyclestr>obsforge_gfs_marine_dump_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<partition>{{ PARTITION }}</partition>
	<walltime>{{ WALLTIME_MARINE_DUMP }}</walltime>
	<nodes>{{ TASK_GEOM_MARINE_DUMP }}</nodes>
	<memory>{{ MEMORY_MARINE_DUMP }}</memory>
	<native>--export=NONE</native>

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/gfs_marine_dump_prep.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{ KEEPDATA }}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<!--<dependency>
		<datadep><cyclestr>/scratch2/NCEPDEV/stmp1/Cory.R.Martin/obsforge/gfs.@Y@m@d/@H/atmos/gfs.t@Hz.updated.status.tm00.bufr_d</cyclestr></datadep>
	</dependency>
	-->

</task>

</workflow>
